@charset "UTF-8";
/* CSS Document */



.bg-panel img{
	width: 80px;
	margin: 0 auto;
	display: block;
}

.lista-menu{
	background-color: #f1f1f1;
}

.lista-menu .list{
	margin-top: 0;
	font-size: 14px;
}

.lista-menu .item-title{
	font-weight: 600;
}

.lista-menu .item-media{
	color: #666;
}

#hero{
	background-color: #3476d6;
	background-size: cover;
	padding: 5% 0%;
}

#hero1{
	background-image: url(../img/banner.png);
	background-size: auto;
	padding: 30% 0%;
}


.title.block{
	margin: 10px 0;
}

.title .block-header{
	color: #305792;
	text-align: center;
	font-size: 16px;
}

.title p{
	color: #ffc836;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
}

.img-fluid{
	max-width: 100%;
	height: auto;	
}

.img-fluid1{
	max-width: 30%;
	height: auto;	
}

.img-fluid2{
	max-width: 40%;
	height: auto;	
}

.imagen{
	padding: 5%;
}

.content{
	background-color: white;
	color: #2e2e2e;
	padding: 5%;
	font-weight: 600;
}
.content .color-gris{
	color: #aaa;
	font-size: 14px;
	font-weight: normal;
}





.mt-5{
	margin-top: 10px;
}




#menu .list .item-media img{
	width: 50px;
}

#menu .list{
	margin-top: 0;
}




#puntos{
	background-color:#9DAEC7;
	
}

.congrats{
	text-align: center;
	font-size: 35px;
	color: #1B4184;

	
}

.cuadro{
	text-align: center;
	width: 60%;
	height: 60%;
	padding-left: 20%;
	padding-top: 60%;	
}

.encabezado{
	background-color: #F5C82D;
	
}

.search{
	width: 25px;
	height: 25px;
	padding: 20px 10px 10px 10px;
	
}

.logo-app{
	width: 120px;
	height: 40px;
	align-content: center;
	padding-top: 5px;
}

.tool{
	width: 25px;
	height: 25px;
	padding: 20px 10px 10px 10px;
	color: #184180;	
}

.titulo{
	text-align: center;
	color: #184180;
	font-size: 15px;
	padding-top: 30px;
}

.mano1{
	width: 20%;
	height: 15%;
	padding-top: 10%;
	padding-left: 10%;

	
}

.mano2{
	width: 20%;
	height: 15%;
	padding-top: 10%;
	padding-left: 10%;

	
}

.mano3{
	width: 20%;
	height: 15%;
	padding-top: 10%;
	padding-left: 10%;
	
}

.mano4{
	width: 20%;
	height: 15%;
	padding-top: 10%;
	padding-left: 10%;
	
}

.leccion-1{
	background-color: #3476D5;

}

.titulo-1{
	color: aliceblue;
	font-size: 18px;
}

.flecha-back{
	color: aliceblue;
	padding-top: 10px;
	padding-left: 10px;
	width: 35px;
	height: 35px;
}
.flecha-next{
	font-size: 70px;
	color: #184180;

}

.book{
	width: 10%;
	height: 10%;
	padding-left: 20%;
}

.person{
	width: 10%;
	height: 10%;
	padding-left: 20%;
}

.senas{
	align-content: center;
}












